.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.3s;
}
.btnBox {
  margin-bottom: 40px;
  display: flex;
  gap: 15px;
}
button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  color: white;
}
button:nth-child(1) {
  background-color: red;
}
button:nth-child(2) {
  background-color: yellow;
  color: black; 
}
button:nth-child(3) {
  background-color: orange;
}
button:nth-child(4) {
  background-color: black;
}
button:nth-child(5) {
  background-color: pink;
  color: black;
}

button:nth-child(6) {
  background-color: brown;
}